@use 'sass:map';

// 英文：Inter
@font-face {
	font-family: 'Inter';
	src: url('../library/fonts/Inter-VariableFont_opsz_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

// —————————————————————————————————————————————————— 日文：Noto Sans JP
@font-face {
	font-family: 'NotoSansJP';
	src: url('../library/fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
// @font-face {
// 	font-display: swap;
// 	font-family: 'NotoSansJP';
// 	font-style: normal;
// 	font-weight: 300;
// 	src: url('../library/fonts/noto-sans-jp-v54-japanese-300.woff2') format('woff2');
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'NotoSansJP';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('../library/fonts/noto-sans-jp-v54-japanese-regular.woff2') format('woff2');
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'NotoSansJP';
// 	font-style: normal;
// 	font-weight: 600;
// 	src: url('../library/fonts/noto-sans-jp-v54-japanese-600.woff2') format('woff2');
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'NotoSansJP';
// 	font-style: normal;
// 	font-weight: 700;
// 	src: url('../library/fonts/noto-sans-jp-v54-japanese-700.woff2') format('woff2');
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'NotoSansJP';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('../library/fonts/noto-sans-jp-v54-japanese-800.woff2') format('woff2');
// }

// —————————————————————————————————————————————————— 中文：Noto Sans TC（繁體）
@font-face {
	font-family: 'NotoSansTC';
	src: url('../library/fonts/NotoSansTC-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
// @font-face {
// 	font-display: swap;
// 	font-family: 'Noto Sans TC';
// 	font-style: normal;
// 	font-weight: 300;
// 	src: url('../library/font/noto-sans-tc-v37-latin-300.woff2') format('woff2');
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'Noto Sans TC';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url('../library/font/noto-sans-tc-v37-latin-regular.woff2') format('woff2');
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'Noto Sans TC';
// 	font-style: normal;
// 	font-weight: 600;
// 	src: url('../library/font/noto-sans-tc-v37-latin-600.woff2') format('woff2');
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'Noto Sans TC';
// 	font-style: normal;
// 	font-weight: 700;
// 	src: url('../library/font/noto-sans-tc-v37-latin-700.woff2') format('woff2');
// }
// @font-face {
// 	font-display: swap;
// 	font-family: 'Noto Sans TC';
// 	font-style: normal;
// 	font-weight: 800;
// 	src: url('../library/font/noto-sans-tc-v37-latin-800.woff2') format('woff2');
// }

html {
	font-family: 'Inter', system-ui, sans-serif;
}

:lang(ja) {
	font-family: 'Inter', 'NotoSansJP', system-ui, sans-serif;
}

:lang(zh-TW) {
	font-family: 'Inter', 'NotoSansTC', system-ui, sans-serif;
}

// 字級
// $fontSizes: (
// 	12: 12px,
// 	14: 14px,
// 	16: 16px,
// 	18: 18px,
// 	20: 20px,
// 	24: 24px,
// 	32: 32px,
// 	48: 48px
// );

// 字級
$fontSizes: (
	12: 1.2rem,
	14: 1.4rem,
	16: 1.6rem,
	18: 1.8rem,
	20: 2.0rem,
	24: 2.4rem,
	32: 3.2rem,
	40: 4.0rem,
	48: 4.8rem
);

// 字重
$fontWeights: (
	12: 300,
	// 12: 400,
	14: 400,
	16: 400,
	18: 600,
	20: 600,
	24: 700,
	32: 700,
	40: 800,
	48: 800
);

// 行高
$lineHeights: (
	12: 2.0,
	14: 2.0,
	16: 2.2,
	18: 2.2,
	20: 2.2,
	24: 2.2,
	32: 1.0,
	40: 1.0,
	48: 1.0
);

// 字距
$letterSpacings: (
	12: 0,
	14: 0,
	16: 0,
	18: 0,
	20: 0,
	24: 0.02em,
	32: 0.02em,
	40: 0.03em,
	48: 0.03em
);

@mixin fontStyle($size) {
	font-size: map.get($fontSizes, $size);
	font-weight: map.get($fontWeights, $size);
	line-height: map.get($lineHeights, $size);
	// letter-spacing: map.get($letterSpacings, $size);
	letter-spacing: 0.05rem
}