:root {
    --min-width: 1300;
    --max-width: 1600;
    --fz: clamp(10px, calc(100vw / var(--min-width) * 10), calc(var(--max-width) / 1300 * 10px));
    font-size: var(--fz);
    --scrollbar: 0;
}

// 內文最大寬度
$page-width: calc(100vw - var(--scrollbar));
$section-width: 1140px;

$page-padding: 3rem;
$padding: 1.5rem;

// 角色-顯示數量
$role-count-pc: 5;

// 角色-傾斜角度
$role-skew-percent: 30%;
$role-skew-float: 0.3;