@use '../base/global' as *;

section
    margin: auto
    padding: $page-padding 0
    text-align: center
.section-tit
    +fontStyle(48)
    color: $clr-white
    width: fit-content
    max-width: $section-width
    margin: $page-padding auto
.section-desc
    margin: 0 auto $page-padding
    width: $section-width
    p
        +fontStyle(12)
        line-height: 2
        color: $clr-white
.section-cards
    font-size: 0
    user-select: none
    .card
        display: inline-block
        vertical-align: top
        font-size: initial
.box-img
    overflow: hidden
    img
        transition: .3s
        &:hover
            transform: scale(1.2)

// —————————————————————————————————————————————————— section-opening
.section-opening
    height: 100vh

// —————————————————————————————————————————————————— section-about
.section-about
    .btn
        width: auto
    .section-desc
        font-size: 0
        p
            display: inline-block
            width: 50%
            padding: 0 $page-padding
            &:nth-of-type(1)
                text-align: right
                border-right: 1px solid $clr-white
            &:nth-of-type(2)
                text-align: left
    .section-cards
        margin: 0 auto $page-padding
        width: $section-width
    // .card,
    // .card img
    //     width: calc((#{$section-width} - #{$page-padding}) / 3)
    // .card
    //     aspect-ratio: 35 / 20
    //     &:not(:last-child)
    //         margin-right: calc(#{$page-padding} / 2)
            
// —————————————————————————————————————————————————— section-team
.section-team
    max-width: 100vw
    overflow: hidden
    .section-cards
        position: relative
        left: 50%
        transform: translateX(-50%)
        width: fit-content
        white-space: nowrap
    .card,
    .card img
        width: calc(100vw / #{$role-count-pc})
    .card
        aspect-ratio: 400 / 566
        clip-path: polygon(#{$role-skew-percent} 0%, 100% 0%, calc(100% - #{$role-skew-percent}) 100%, 0% 100%)
        &:not(:last-child)
            margin-right: calc(#{$page-padding} / 2 - (100vw / #{$role-count-pc} * #{$role-skew-float}))

// —————————————————————————————————————————————————— section-news
.section-news
    .section-cards
        // display: grid
        // // grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
        // grid-template-columns: repeat(3, minmax(0, 1fr))
        // gap: $page-padding

        margin: 0 auto $page-padding
        width: $section-width
    .card
        cursor: pointer
        position: relative
        // width: 100%
        padding: calc(#{$page-padding} / 2)
        text-align: left
        background-color: $clr-gray-2
    .card-tit
        +fontStyle(16)
        line-height: 2
        color: $clr-white
        font-weight: bold
    .card-txt
        +fontStyle(12)
        line-height: 2
        color: $clr-white
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis
    .card-tag
        position: absolute
        top: 0
        right: 0
        +fontStyle(12)
        color: $clr-black
        font-weight: bold
        padding: 0 5px
        &.tag-top
            background-color: $clr-main
        &.tag-new
            background-color: $clr-second

// —————————————————————————————————————————————————— section-contact
.section-contact
    .section-content
        margin: 0 auto $page-padding
        width: $section-width
    .content-info
        p
            +fontStyle(12)
            line-height: 2
            color: $clr-white
        // .social-icons
    .content-form
        label
            +fontStyle(10)
            // line-height: 2
            color: $clr-white
        // input