@use '../base/global' as *

.page-home
    // —————————————————————————————————————————————————— section-opening
    .section-opening
        position: relative
        height: 100vh
        // .karasuno-logo,
        .svgContainer.svg-karasuno
            width: 20rem
            height: 20rem
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
        // .karasuno-logo
        //     opacity: 0
        //     transition: opacity 0s
        //     pointer-events: none
        //     &.show
        //         opacity: 1
        //         transition: opacity 2s 2s
    // —————————————————————————————————————————————————— section-about
    .section-about
        .btn
            width: auto
        .section-cards
            margin-bottom: $page-padding
            flex-wrap: nowrap
            overflow-x: auto
            overflow-y: hidden
            .card img
                aspect-ratio: 35 / 20
            +media(mobile)
                margin-left: calc( $padding * -1 )
                margin-right: calc( $padding * -1 )
                margin-bottom: $padding
                +scrollBar_horizontal(0)
                .card
                    min-width: 50vw
                    img
                        width: 50vw
            +media(pad)
                margin-left: calc( $padding * -1 )
                margin-right: calc( $padding * -1 )
                margin-bottom: $padding
                +scrollBar_horizontal(0)
                .card
                    min-width: 50vw
                    img
                        width: 50vw
            +media(pc)
                margin: 0 auto $page-padding
                width: $section-width-pc
                +scrollBar_horizontal(6px)
                .card img
                    width: calc((#{$section-width-pc} - #{$page-padding}) / 3)
        .section-desc
            font-size: 0
            .txt
                display: inline-block
                width: 50%
                &:nth-of-type(1)
                    text-align: right
                    border-right: 1px solid $clr-white
                    +media(mobile)
                        padding-right: $padding
                &:nth-of-type(2)
                    text-align: left
                    +media(mobile)
                        padding-left: $padding
                +media(pad)
                    padding: 0 $padding
                +media(pc)
                    padding: 0 $page-padding

    // —————————————————————————————————————————————————— section-team
    .section-team
        max-width: $page-width
        overflow: hidden
        .section-cards
            // position: relative
            // left: 50%
            // transform: translateX(-50%)
            // width: fit-content
            white-space: nowrap
            +media(mobile)
                margin-left: calc( $padding * -1 )
                margin-right: calc( $padding * -1 )
                +scrollBar_horizontal(0)
                .card:first-child
                    margin-left: $page-padding
            +media(pad)
                margin-left: calc( $padding * -1 )
                margin-right: calc( $padding * -1 )
                +scrollBar_horizontal(0)
                .card:first-child
                    margin-left: $page-padding
            +media(pc)
                +scrollBar_horizontal(6px)
        .card
            clip-path: polygon(#{$role-skew-percent} 0%, 100% 0%, calc(100% - #{$role-skew-percent}) 100%, 0% 100%)
            img
                aspect-ratio: 400 / 566
            +media(mobile)
                &:not(:last-child)
                    margin-right: calc($padding - (#{$page-width} / #{$role-count-mobile} * #{$role-skew-float}))
                img
                    width: calc(#{$page-width} / #{$role-count-mobile})
            +media(pad)
                &:not(:last-child)
                    margin-right: calc($padding - (#{$page-width} / #{$role-count-pad} * #{$role-skew-float}))
                img
                    width: calc(#{$page-width} / #{$role-count-pad})
            +media(pc)
                &:not(:last-child)
                    margin-right: calc($padding - (#{$page-width} / #{$role-count-pc} * #{$role-skew-float}))
                img
                    width: calc(#{$page-width} / #{$role-count-pc})

    // —————————————————————————————————————————————————— section-news
    .section-news
        max-width: $section-width-pc
        .section-cards
            margin: 0 auto $page-padding
        .card
            cursor: pointer
            +media(pc)
                &:hover
                    .hover-wrapper
                        transform: translateY(-0.8rem)
        .hover-wrapper
            position: relative
            text-align: left
            padding: $padding
            background-color: $clr-gray-2
            transition: transform .15s
        .card-tit
            +fontStyle(16)
            line-height: 2
            font-weight: bold
            color: $clr-white
        .card-txt
            +fontStyle(12)
            line-height: 2
            color: $clr-white
            display: -webkit-box
            -webkit-line-clamp: 3
            -webkit-box-orient: vertical
            overflow: hidden
            text-overflow: ellipsis
        .tag
            position: absolute
            top: 0
            right: 0

    // —————————————————————————————————————————————————— section-contact
    .section-contact
        background-color: $clr-gray-2
        .section-content
            margin: 0 auto $page-padding
            width: $section-width-pc
            text-align: left
        .social-icons,
        .btn-primary
            margin: 3rem 0
        .txt
            padding: 35px 5px 10px
        .box-left
            .txt
                border-bottom: 1px solid transparent
        .box-right
            text-align: right
            .form-group
                position: relative
            label
                pointer-events: none
                position: absolute
                left: 5px
                bottom: 10px
                padding: 0
                transition: .2s
            input
                width: 100%
                border: none
                outline: none
                background: none
                // border-bottom: 1px solid $clr-white
                border-bottom: 1px solid $clr-gray-8
                transition: border 0.2s ease-out
                &:focus
                    border-bottom-color: $clr-main
                &:is(:focus, :valid) ~ label,           // focus, 格式正確
                &:not(:placeholder-shown) ~ label       // 不是空值
                    bottom: 40px
                    color: $clr-main

    // —————————————————————————————————————————————————— section-partners
    .section-partners
        padding: calc(#{$page-padding}*2) 0
        .list-item
            &:not(:last-child)
                margin-right: $page-padding
            img
                aspect-ratio: 3 / 2
                width: 80px