<nav class="pagination">
    <button type="button" class="btn-circle btn-prev btn-main">
        <i class="icon-feather-chevron-left"></i>
        <span class="btn-label">Previous</span>
    </button>
    <ul class="page-list">
        <li class="page-number">
            <button type="button" class="btn-circle btn-primary active">1</button>
        </li>
        <li class="page-number">
            <button type="button" class="btn-circle btn-primary">2</button>
        </li>
        <li class="page-number">
            <button type="button" class="btn-circle btn-primary">3</button>
        </li>
    </ul>
    <button type="button" class="btn-circle btn-next btn-main">
        <i class="icon-feather-chevron-right"></i>
        <span class="btn-label">Next</span>
    </button>
</nav>