<div class="news-navigation">
    <button type="button" class="btn-circle btn-prev btn-main">
        <i class="icon-feather-chevron-left"></i>
        <span class="btn-label">Previous</span>
    </button>
    <a href="{{basePath}}html-pages/page-news.html" class="btn-line">一覧を見る</a>
    <button type="button" class="btn-circle btn-next btn-main">
        <i class="icon-feather-chevron-right"></i>
        <span class="btn-label">Next</span>
    </button>
</div>