<div class="timeline drag-scroll-mask scroll-hidden">
    <div class="timeline-phase">
        <div class="box-top">
            <div class="event">
                <p class="box-tit">01.30</p>
                <p class="txt">Nekoma V.S. karasuno</p>
                <div class="deco-line"></div>
            </div>
            <div class="event">
                <p class="box-tit">01.30</p>
                <p class="txt">Nekoma V.S. karasuno</p>
                <div class="deco-line"></div>
            </div>
        </div>
        <div class="box-buttom">
            <div class="deco-line"></div>
            <p class="box-tit">2023上學期</p>
            <ul class="box-list">
                <li class="txt">Nekoma V.S. karasuno</li>
                <li class="txt">Purus imperdiet et cum laoreet</li>
                <li class="txt">Tristique</li>
            </ul>
        </div>
    </div>
    <div class="timeline-phase">
        <div class="box-top">
            <div class="event">
                <p class="box-tit">01.30</p>
                <p class="txt">Nekoma V.S. karasuno</p>
                <div class="deco-line"></div>
            </div>
        </div>
        <div class="box-buttom">
            <div class="deco-line"></div>
            <p class="box-tit">2023下學期</p>
            <ul class="box-list">
                <li class="txt">Nekoma V.S. karasuno</li>
                <li class="txt">Purus imperdiet et cum laoreet</li>
                <li class="txt">Tristique</li>
            </ul>
        </div>
    </div>
    <div class="timeline-phase">
        <div class="box-top">
            <div class="event">
                <p class="box-tit">01.30</p>
                <p class="txt">Nekoma V.S. karasuno</p>
                <div class="deco-line"></div>
            </div>
            <div class="event">
                <p class="box-tit">01.30</p>
                <p class="txt">Nekoma V.S. karasuno</p>
                <div class="deco-line"></div>
            </div>
        </div>
        <div class="box-buttom">
            <div class="deco-line"></div>
            <p class="box-tit">2024上學期</p>
            <ul class="box-list">
                <li class="txt">Nekoma V.S. karasuno</li>
                <li class="txt">Purus imperdiet et cum laoreet</li>
                <li class="txt">Tristique</li>
            </ul>
        </div>
    </div>
    <div class="timeline-phase">
        <div class="box-top">
            <div class="event">
                <p class="box-tit">01.30</p>
                <p class="txt">Nekoma V.S. karasuno</p>
                <div class="deco-line"></div>
            </div>
            <div class="event">
                <p class="box-tit">01.30</p>
                <p class="txt">Nekoma V.S. karasuno</p>
                <div class="deco-line"></div>
            </div>
            <div class="event">
                <p class="box-tit">01.30</p>
                <p class="txt">Nekoma V.S. karasuno</p>
                <div class="deco-line"></div>
            </div>
        </div>
        <div class="box-buttom">
            <div class="deco-line"></div>
            <p class="box-tit">2024下學期</p>
            <ul class="box-list">
                <li class="txt">Nekoma V.S. karasuno</li>
                <li class="txt">Purus imperdiet et cum laoreet</li>
                <li class="txt">Tristique</li>
            </ul>
        </div>
    </div>
    <div class="timeline-phase">
        <div class="box-top">
            <div class="event">
                <p class="box-tit">01.30</p>
                <p class="txt">Nekoma V.S. karasuno</p>
                <div class="deco-line"></div>
            </div>
        </div>
        <div class="box-buttom">
            <div class="deco-line"></div>
            <p class="box-tit">2025上學期</p>
            <ul class="box-list">
                <li class="txt">Nekoma V.S. karasuno</li>
                <li class="txt">Purus imperdiet et cum laoreet</li>
                <li class="txt">Tristique</li>
            </ul>
        </div>
    </div>
    <div class="timeline-phase future">
        <div class="box-top">
            <div class="event">
                <p class="box-tit">01.30</p>
                <p class="txt">Nekoma V.S. karasuno</p>
                <div class="deco-line"></div>
            </div>
        </div>
        <div class="box-buttom">
            <div class="deco-line"></div>
            <p class="box-tit">2025下學期</p>
            <ul class="box-list">
                <li class="txt">Nekoma V.S. karasuno</li>
                <li class="txt">Purus imperdiet et cum laoreet</li>
                <li class="txt">Tristique</li>
            </ul>
        </div>
    </div>
</div>