<!DOCTYPE html>
<html lang="en">
<%- include('../html/layouts/head', { page: 'news' }) %>

<body class="page-news">
    <%- include('../html/layouts/header', { page: 'news' }) %>
    <%- include('../html/components/nav-breadcrumb') %>
    <main>
        <section>
            <h1>News</h1>
        </section>
    </main>
    <%- include('../html/layouts/footer') %>

    <script type="text/javascript" src="../library/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../js/common.min.js"></script>
    <script type="text/javascript" src="../js/page-news.min.js"></script>
</body>
</html>