<footer class="site-footer">
    <div class="footer-content">
        <!-- LOGO 與社群 -->
        <div class="footer-brand">
            <a class="logo" href="{{basePath}}index.html" aria-label="Fly High Home">
                <%- include('../../img/logo.svg') %>
            </a>
            <div class="social-icons">
                <a href="#" aria-label="Facebook"><i class="icon-feather-facebook-fill"></i></a>
                <a href="#" aria-label="Instagram"><i class="icon-feather-instagram-fill"></i></a>
                <a href="#" aria-label="YouTube"><i class="icon-feather-youtube-fill"></i></a>
            </div>
        </div>
        <!-- 連結群組 -->
        <div class="footer-links row">
            <div class="link-column col-4">
                <p class="link-title">Title</p>
                <ul>
                    <li><a href="#" class="txt">Loremipsum</a></li>
                    <li><a href="#" class="txt">Dolororemi</a></li>
                    <li><a href="#" class="txt">Eoremi</a></li>
                    <li><a href="#" class="txt">Loremipsum</a></li>
                </ul>
            </div>
            <div class="link-column col-4">
                <p class="link-title">Title</p>
                <ul>
                    <li><a href="#" class="txt">consectetur</a></li>
                    <li><a href="#" class="txt">Turpis</a></li>
                    <li><a href="#" class="txt">elementum</a></li>
                    <li><a href="#" class="txt">ornare</a></li>
                </ul>
            </div>
            <div class="link-column col-4">
                <p class="link-title">Title</p>
                <ul>
                    <li><a href="#" class="txt">tortormassa</a></li>
                    <li><a href="#" class="txt">quisque</a></li>
                    <li><a href="#" class="txt">orchibatant</a></li>
                </ul>
            </div>
        </div>
        <address class="footer-contact">
            <p class="link-title">Title</p>
            <ul>
                <li class="txt">karasuno.volleyball@gmail.com</li>
                <li class="txt">(+81) 022-211-2701</li>
                <li class="txt">宮城縣烏野町米第9區34-1</li>
            </ul>
        </address>
    </div>
    <!-- 下方版權與語言切換 -->
    <div class="footer-bottom">
        <div class="language-switcher" aria-label="語言切換">
            <a href="#" class="txt">EN</a>
            <span class="txt">/</span>
            <a href="#" class="txt">JP</a>
        </div>
        <p class="copyright txt">COPYRIGHT © 2025　本站為專題作品，僅供學習、展示之用。</p>
    </div>
</footer>