<header>
    <!-- ————————————————————————— 首頁 ————————————————————————— -->
    <% if (page === 'index') { %>
        <h1 class="header-logo">
            <a href="/" aria-label="Fly High Home">
                <%- include('../../img/logo.svg') %>
            </a>
            Fly High
        </h1>
        <nav class="header-nav" aria-label="Primary Navigation">
            <ul class="nav-ul">
                <li class="active"><a href="#section_opening">Top</a></li>
                <li><a href="#section_about">About Us</a></li>
                <li><a href="#section_team">Our Team</a></li>
                <li><a href="#section_news">News</a></li>
                <li><a href="#section_contact">Contact Us</a></li>
            </ul>
        </nav>
    <!-- ————————————————————————— 分頁 ————————————————————————— -->
    <% } else { %>
        <div class="header-logo">
            <a href="/" aria-label="Fly High Home">
                <%- include('../../img/logo.svg') %>
            </a>
        </div>
        <nav class="header-nav" aria-label="Primary Navigation">
            <ul class="nav-ul">
                <li><a href="index.html#section_opening">Top</a></li>
                <li><a href="page-about.html">About Us</a></li>
                <li><a href="page-team.html">Our Team</a></li>
                <li><a href="page-news.html">News</a></li>
                <li><a href="index.html#section_contact">Contact Us</a></li>
            </ul>
        </nav>
    <% } %>
    <!-- ————————————————————————— 漢堡 ————————————————————————— -->
    <div class="header-hb">
        <button class="hb-btn" aria-label="Toggle menu" aria-expanded="false" aria-controls="hb-menu">
            <span></span>
            <span></span>
        </button>
        <ul id="hb-menu" class="hb-menu" aria-label="Mobile Navigation" hidden>
            <li><a href="page-about.html">About Us</a></li>
            <li><a href="page-team.html">Our Team</a></li>
            <li><a href="page-news.html">News</a></li>
        </ul>
    </div>
</header>