@use '../base/global' as *;

.site-header,
.site-main,
.site-footer
	container-type: inline-size
	container-name: site
	width: $page-width
	overflow: hidden

// z-index
header
	z-index: 5
	.hb-btn
		z-index: 1
	// .hb-menu

.txt-group
	margin-bottom: 1rem

.txt
	+fontStyle(12)
	color: $clr-white
	&.event
		color: $clr-main
	&.notice
		color: $clr-second

.visually-hide
	position: absolute !important
	width: 1px !important
	height: 1px !important
	margin: -1px !important
	padding: 0 !important
	overflow: hidden !important
	clip: rect(0, 0, 0, 0) !important
	white-space: nowrap !important
	border: 0 !important

// body:not(.page-home)
// 	min-height: 100vh

.box-img
	overflow: hidden
	img
		transition: .3s
		&:hover
			transform: scale(1.2)

.pagination
	margin: $padding
	.page-list
		display: inline-block

// —————————————————————————————————————————————————— section
section
	margin: auto
	text-align: center
	+media(mobile)
		padding: $page-padding $padding
	+media(pad)
		padding: $page-padding $padding
	+media(pc)
		padding: $page-padding 0

.section-tit
	margin: $page-padding auto
	width: fit-content
	max-width: $section-width-pc
	color: $clr-white
	&.size-l
		+fontStyle(48)
	&.size-m
		+fontStyle(32)
	&.size-s
		+fontStyle(20)
		margin: 0

.section-desc
	margin: 0 auto $page-padding
	// +media(mobile)
	// +media(pad)
	+media(pc)
		width: $section-width-pc
	.txt
		line-height: 2
		// color: $clr-gray-8
.section-cards
	font-size: 0
	user-select: none
	.card
		display: inline-block
		vertical-align: top
		font-size: initial

// —————————————————————————————————————————————————— 隱藏滾動條
.scrollbar-hidden
	overflow: auto				// 或 scroll 看情況
	-ms-overflow-style: none	// IE & Edge
	scrollbar-width: none		// Firefox
	&::-webkit-scrollbar
		display: none			// Chrome, Safari

// —————————————————————————————————————————————————— 可用滑鼠拖曳的物件
.drag-scroll-mask,
.drag-scroll-overlay
	cursor: grab
	position: relative
	overflow-x: auto
	user-select: none
	&.dragging
		cursor: grabbing
	p,
	span,
	.txt
		user-select: none   // 禁用文字選取

// —————————————————————————————————————————————————— 使用遮罩版本
.drag-scroll-mask
	// 左邊還有 (遮罩)
	&.left-active
		-webkit-mask-image: linear-gradient(90deg, transparent 1%, #000 10%)
		mask-image: linear-gradient(90deg, transparent 1%, #000 10%)
	// 右邊還有 (遮罩)
	&.right-active
		-webkit-mask-image: linear-gradient(90deg, #000 90%, transparent 99%)
		mask-image: linear-gradient(90deg, #000 90%, transparent 99%)
	// 兩邊都有 (遮罩)
	&.left-active.right-active
		-webkit-mask-image: linear-gradient(90deg, transparent 1%, #000 10%, #000 90%, transparent 99%)
		mask-image: linear-gradient(90deg, transparent 1%, #000 10%, #000 90%, transparent 99%)

// —————————————————————————————————————————————————— 覆蓋版本
.drag-scroll-overlay
	&.left-active::before,
	&.right-active::after
		content: ''
		display: inline-block
		position: sticky
		top: 0
		height: var(--drag-height)
		width: 5%
		pointer-events: none
		z-index: 1
	// 左邊還有 (遮罩)
	&.left-active::before
		left: 0
		background: linear-gradient(to right, #{$clr-black}, transparent)
	// 右邊還有 (遮罩)
	&.right-active::after
		right: 0
		background: linear-gradient(to left, #{$clr-black}, transparent)

@mixin transparentEdge($direction, $opacityPoint: 90%)
	$angle: 0deg
	@if $direction == right
		$angle: 90deg
	@else if $direction == left
		$angle: 270deg
	@else if $direction == top
		$angle: 0deg
	@else if $direction == bottom
		$angle: 180deg
	@else
		@warn "?"
	-webkit-mask-image: linear-gradient($angle, #000 $opacityPoint, transparent 100%)
	mask-image: linear-gradient($angle, #000 $opacityPoint, transparent 100%)