@use '../base/global' as *;


body.hidden,
body.loading,
body.modal-open
	overflow: hidden
	width: 100%
	height: 100vh
	max-height: 100vh
	padding-right: var(--scrollbar)
	-webkit-overflow-scrolling: unset