<section class="section-opening" id="section_opening">
    <h2 class="visually-hide">Opening</h2>
    <div class="svgContainer svg-karasuno"></div>
    <!-- <object class="karasuno-logo" data="{{basePath}}img/karasuno-full.svg" type="image/svg+xml"></object> -->
</section>