<section class="section-team" id="section_team">
    <h2 class="section-tit">Our Team</h2>
    <div class="section-desc">
        <p>Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae pellentesque sagittis dictumst eros amet consectetur pellentesque sagittis.</p>
    </div>
    <div class="section-cards">
        <div class="card box-img">
            <img src="{{basePath}}img/member_01.webp" alt="介紹1">
        </div>
        <div class="card box-img">
            <img src="{{basePath}}img/member_02.webp" alt="介紹2">
        </div>
        <div class="card box-img">
            <img src="{{basePath}}img/member_01.webp" alt="介紹3">
        </div>
        <div class="card box-img">
            <img src="{{basePath}}img/member_02.webp" alt="介紹4">
        </div>
        <div class="card box-img">
            <img src="{{basePath}}img/member_01.webp" alt="介紹5">
        </div>
        <div class="card box-img">
            <img src="{{basePath}}img/member_02.webp" alt="介紹6">
        </div>
        <div class="card box-img">
            <img src="{{basePath}}img/member_01.webp" alt="介紹7">
        </div>
        <div class="card box-img">
            <img src="{{basePath}}img/member_02.webp" alt="介紹8">
        </div>
        <div class="card box-img">
            <img src="{{basePath}}img/member_01.webp" alt="介紹9">
        </div>
    </div>
    <!-- <a href="{{basePath}}html-pages/page-about.html" class="btn btn-primary">Our Team</a> -->
</section>