<section class="section-contact" id="section_contact">
    <h2 class="section-tit">Contact Us</h2>
    <div class="section-content row">
        <div class="content-info col-6">
            <p>karasuno.volleyball@gmail.com</p>
            <p>(+81) 022-211-2111</p>
            <p>Dai 9 Chiwari-34-1 Karasuno, Miyagi-ken 028-6302, Japan</p>
            <div class="social-icons">
                <a href="#" aria-label="Facebook"><i class="icon-facebook"></i></a>
                <a href="#" aria-label="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" aria-label="YouTube"><i class="icon-youtube"></i></a>
            </div>
        </div>
        <form class="content-form col-6" action="#" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" required></textarea>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</section>