<section class="section-partners" id="section_partners">
    <h2 class="section-tit size-m visually-hidden">Join Us</h2>
    <h3 class="section-tit size-m">You Make Our Story Shine Brighter</h3>
    <div class="section-desc">
        <p class="txt">From humble beginnings to unforgettable moments, your support is the thread that ties every chapter together.</p>
        <p class="txt">Because of you, this journey is more than just a game—it’s a story worth remembering.</p>
    </div>
    <ul class="section-list">
        <li class="list-item">
            <img src="{{basePath}}img/partners/BTI-logo.webp" alt="BTI-logo">
        </li>
        <li class="list-item">
            <img src="{{basePath}}img/partners/EZUGI-logo.webp" alt="EZUGI-logo">
        </li>
        <li class="list-item">
            <img src="{{basePath}}img/partners/MGLIVE-logo.webp" alt="MGLIVE-logo">
        </li>
        <li class="list-item">
            <img src="{{basePath}}img/partners/NETENT-logo.webp" alt="NETENT-logo">
        </li>
        <li class="list-item">
            <img src="{{basePath}}img/partners/CRICKET-logo.webp" alt="CRICKET-logo">
        </li>
    </ul>
</section>