<section class="section-news" id="section_news">
    <h2 class="section-tit size-l">News</h2>
    <div class="section-cards row">
        <a href="{{basePath}}html-news/news-01.html" class="card">
            <div class="hover-wrapper">
                <h3 class="card-tit">Test Title</h3>
                <p class="card-txt">Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae pellentesque sagittis dictumst eros amet consectetur pellentesque sagittis.</p>
                <span class="tag tag-top">Top</span>
            </div>
        </a>
        <a href="{{basePath}}html-news/news-02.html" class="card">
            <div class="hover-wrapper">
                <h3 class="card-tit">Test Title</h3>
                <p class="card-txt">Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae pellentesque sagittis dictumst eros amet consectetur pellentesque sagittis.</p>
                <span class="tag tag-new">New</span>
            </div>
        </a>
        <a href="{{basePath}}html-news/news-03.html" class="card">
            <div class="hover-wrapper">
                <h3 class="card-tit">Test Title</h3>
                <p class="card-txt">Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae pellentesque sagittis dictumst eros amet consectetur pellentesque sagittis.</p>
            </div>
        </a>
        <a href="{{basePath}}html-news/news-04.html" class="card">
            <div class="hover-wrapper">
                <h3 class="card-tit">Test Title</h3>
                <p class="card-txt">Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae pellentesque sagittis dictumst eros amet consectetur pellentesque sagittis.</p>
            </div>
        </a>
        <a href="{{basePath}}html-news/news-05.html" class="card">
            <div class="hover-wrapper">
                <h3 class="card-tit">Test Title</h3>
                <p class="card-txt">Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae pellentesque sagittis dictumst eros amet consectetur pellentesque sagittis.</p>
            </div>
        </a>
        <a href="{{basePath}}html-news/news-06.html" class="card">
            <div class="hover-wrapper">
                <h3 class="card-tit">Test Title</h3>
                <p class="card-txt">Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae pellentesque sagittis dictumst eros amet consectetur pellentesque sagittis.</p>
            </div>
        </a>
    </div>
    <a href="{{basePath}}html-pages/page-news.html" class="btn btn-primary">News</a>
</section>