<section class="section-about" id="section_about">
    <h2 class="section-tit">About Us</h2>
    <div class="section-desc">
        <p>Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae eros amet consectetur pellentesque sagittis.</p>
        <p>Lorem ipsum dolor sit amet consectetur. Non tristique at pellentesque sagittis dictumst nam nisl diam. Ut non neque vitae tristique habitant feugiat egestas vitae eros amet consectetur pellentesque sagittis.</p>
    </div>
    <div class="section-cards">
        <div class="card">
            <img src="{{basePath}}img/img_demo_350x200.png" alt="介紹1">
        </div>
        <div class="card">
            <img src="{{basePath}}img/img_demo_350x200.png" alt="介紹2">
        </div>
        <div class="card">
            <img src="{{basePath}}img/img_demo_350x200.png" alt="介紹3">
        </div>
    </div>
    <a href="{{basePath}}html-pages/page-about.html" class="btn btn-primary">About Us</a>

    <!-- <a href="{{basePath}}html-pages/page-about.html" class="btn btn-primary" aria-label="Learn more about us">More</a> -->
</section>